.App {
  /* text-align: center; */
  padding: 1.5em;
}

h1 {
  color: red;
}

.search{
  font-size: 2em;
  padding: 1em;
  text-align: center;
}

input#searchbar{
  width: 35%;
  text-align: center;
}

.grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 10px;
}

.span-col-3{
    grid-column: span 3 / auto;
  }