.App {
  /* text-align: center; */
  padding: 1.5em;
}

h1 {
  color: red;
}

.search{
  font-size: 2em;
  padding: 1em;
  text-align: center;
}

input#searchbar{
  width: 35%;
  text-align: center;
}

.grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 10px;
}

.span-col-3{
    grid-column: span 3 / auto;
  }

.list{
  border-width: 1px;
  border-style: solid;
  border-color: #e3e3e3;
  width: 25%;
  float: right;
}

.current{
  width: 60%;
  margin: 30px;
  display: inline-block;
}

.list-card{
  border-bottom: 1px solid #e3e3e3;
  padding: 7px;
}

.list-pic {
  width: 150px;
  padding: 5px;
  display: inline;
}

.list-title{
  width: 225px;
  display: inline-block;
  margin-left: 2px;
  padding-top: 5px;
}